@keyframes closepopup {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.popup {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  animation: closepopup 0.5s ease-in-out both;
}
