.popup__submit {
  width: 100%;
  min-height: 50px;
  background-color: #000;
  margin: 48px 0 0;
  color: #fff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
  box-sizing: border-box;
}

.popup__submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup__submit {
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
    min-height: 46px
  }

}
