.profile-info__edit-button {
  width: 24px;
  height: 24px;
  background-color: #000;
  background-image: url(../../../images/PencilIcon.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #FFFFFF;
  align-self:flex-end;
  margin-bottom: 8px;
  }

.profile-info__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width:768px) {
  .profile-info__edit-button {
    width: 18px;
    height: 18px;
    margin-bottom: 7px;
    transform: translate(45px);
  }
}
